/* This is the main CSS file for the App component */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.column {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.size-badge {
  background-color: #e7e6e6 !important;
  color: #303030 !important;
}

.badge-label {
  font-size: 0.8em; /* Adjust the size as needed */
  color: #303030; /* Adjust the color as needed */
  font-weight: bold; /* Add this line to make the text bold */
}

.urgency-badge {
  background-color: #f0efef !important;
  color: #303030 !important;
}

.value-badge {
  background-color: #f0efef !important;
  color: #303030 !important;
}

/* AddTask.css */
.add-task-card {
  border-radius: 15px;
  border: none;
  background: #f8f9fa; /* Light background */
}

.add-task-card .form-label {
  font-weight: 500;
}

.add-task-card .form-control,
.add-task-card .form-select {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.add-task-card h2 {
  color: #343a40; /* Dark gray */
  font-weight: 700;
}

.add-task-card .btn-primary {
  background-color: #007bff; /* Primary blue */
  border: none;
  transition: background-color 0.3s ease;
}

.add-task-card .btn-primary:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

